n8n/workflow_cleanup_google_duplicates_v4.json
{
    "name": "Sync 0 - Limpieza Duplicados Google V4 (ULTIMATUM)",
    "nodes": [
        {
            "parameters": {},
            "name": "Ejecutar Limpieza",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "trigger"
        },
        {
            "parameters": {
                "url": "https://people.googleapis.com/v1/people/me/connections",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "personFields",
                            "value": "names"
                        },
                        {
                            "name": "pageSize",
                            "value": "2000"
                        }
                    ]
                }
            },
            "name": "1. Obtener Todos",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                250,
                0
            ],
            "id": "get-all",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const connections = $input.first().json.connections || [];\nconst seen = new Map();\nconst duplicates = [];\n\nfunction clean(s) {\n  if (!s) return '';\n  return s.toString().toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/[^a-z0-9]/g, \"\").trim();\n}\n\nconnections.forEach(person => {\n  const names = person.names || [];\n  if (names.length > 0) {\n    const key = clean(names[0].displayName || `${names[0].givenName || ''}${names[0].familyName || ''}`);\n    if (key.length > 3) {\n      if (seen.has(key)) {\n        duplicates.push({ resourceName: person.resourceName });\n      } else {\n        seen.set(key, true);\n      }\n    }\n  }\n});\n\nreturn duplicates.map(d => ({ json: d }));"
            },
            "name": "2. Listar Duplicados",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                0
            ],
            "id": "list-dupes"
        },
        {
            "parameters": {
                "batchSize": 50,
                "options": {}
            },
            "name": "3. Lotes de 50",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                750,
                0
            ],
            "id": "batch"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://people.googleapis.com/v1/people:batchDeleteContacts",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"resourceNames\": {{ JSON.stringify($input.all().map(i => i.json.resourceName)) }}\n}",
                "options": {}
            },
            "name": "4. Borrar Grupo",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1000,
                0
            ],
            "id": "delete-batch",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "seconds"
            },
            "name": "5. Pausa 2s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1250,
                0
            ],
            "id": "wait-2s"
        }
    ],
    "connections": {
        "Ejecutar Limpieza": {
            "main": [
                [
                    {
                        "node": "1. Obtener Todos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Todos": {
            "main": [
                [
                    {
                        "node": "2. Listar Duplicados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Listar Duplicados": {
            "main": [
                [
                    {
                        "node": "3. Lotes de 50",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Lotes de 50": {
            "main": [
                [],
                [
                    {
                        "node": "4. Borrar Grupo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Borrar Grupo": {
            "main": [
                [
                    {
                        "node": "5. Pausa 2s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. Pausa 2s": {
            "main": [
                [
                    {
                        "node": "3. Lotes de 50",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}