n8n/workflow_cleanup_google_duplicates.json
{
    "name": "Sync 0 - Limpieza de Duplicados Google",
    "nodes": [
        {
            "parameters": {},
            "name": "Ejecutar Limpieza",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "trigger"
        },
        {
            "parameters": {
                "url": "https://people.googleapis.com/v1/people/me/connections",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "personFields",
                            "value": "names"
                        },
                        {
                            "name": "pageSize",
                            "value": "2000"
                        }
                    ]
                }
            },
            "name": "1. Obtener Todos",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                250,
                0
            ],
            "id": "get-all",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const connections = $input.first().json.connections || [];\nconst seen = new Map();\nconst toDelete = [];\n\nfunction norm(s) {\n  return s ? s.toLowerCase().trim().replace(/\\s+/g, ' ') : '';\n}\n\nconnections.forEach(person => {\n  const names = person.names || [];\n  if (names.length > 0) {\n    const n = names[0];\n    const fullName = norm(`${n.givenName || ''} ${n.middleName || ''} ${n.familyName || ''}`);\n    \n    if (fullName.length > 3) {\n      if (seen.has(fullName)) {\n        // Ya vimos este nombre, este es un duplicado\n        toDelete.push({ json: { resourceName: person.resourceName, name: fullName } });\n      } else {\n        seen.set(fullName, true);\n      }\n    }\n  }\n});\n\nreturn toDelete;"
            },
            "name": "2. Identificar Duplicados",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                0
            ],
            "id": "find-dupes"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://people.googleapis.com/v1/people:batchDeleteContacts",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"resourceNames\": [\"{{ $json.resourceName }}\"]\n}",
                "options": {}
            },
            "name": "3. Borrar Duplicado",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                750,
                0
            ],
            "id": "delete-dupe",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        }
    ],
    "connections": {
        "Ejecutar Limpieza": {
            "main": [
                [
                    {
                        "node": "1. Obtener Todos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Todos": {
            "main": [
                [
                    {
                        "node": "2. Identificar Duplicados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Identificar Duplicados": {
            "main": [
                [
                    {
                        "node": "3. Borrar Duplicado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}