n8n/workflow_sync_push.json
{
    "name": "Sync Contactos Portal PUSH",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sync-contactos",
                "authentication": "none",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.action }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "create"
                        },
                        {
                            "value2": "update",
                            "output": 1
                        },
                        {
                            "value2": "delete",
                            "output": 2
                        }
                    ]
                }
            },
            "name": "Switch Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "familyName": "={{ $json.body.data.apellidos }}",
                "givenName": "={{ $json.body.data.primer_nombre }}",
                "additionalFields": {
                    "emails": [
                        {
                            "value": "={{ $json.body.data.email_personal }}",
                            "type": "home"
                        },
                        {
                            "value": "={{ $json.body.data.email_institucional }}",
                            "type": "work"
                        }
                    ],
                    "middleName": "={{ $json.body.data.segundo_nombre }}",
                    "organizations": [
                        {
                            "name": "={{ $json.body.data.empresa }}",
                            "title": "={{ $json.body.data.puesto }}",
                            "department": "={{ $json.body.data.area }}"
                        }
                    ],
                    "phoneNumbers": [
                        {
                            "value": "={{ $json.body.data.celular_1 }}",
                            "type": "mobile"
                        }
                    ]
                }
            },
            "name": "Google Contacts Create",
            "type": "n8n-nodes-base.googleContacts",
            "typeVersion": 1,
            "position": [
                700,
                140
            ],
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "GOOGLE_CREDENTIALS_ID_PLACEHOLDER",
                    "name": "Google Contacts Account"
                }
            }
        },
        {
            "parameters": {
                "operation": "create",
                "surname": "={{ $json.body.data.apellidos }}",
                "givenName": "={{ $json.body.data.primer_nombre }}",
                "additionalFields": {
                    "emailAddresses": [
                        {
                            "address": "={{ $json.body.data.email_personal }}",
                            "name": "Personal"
                        }
                    ],
                    "jobTitle": "={{ $json.body.data.puesto }}",
                    "companyName": "={{ $json.body.data.empresa }}",
                    "mobilePhone": "={{ $json.body.data.celular_1 }}"
                }
            },
            "name": "Microsoft Outlook Create",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 1,
            "position": [
                920,
                140
            ],
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "MICROSOFT_CREDENTIALS_ID_PLACEHOLDER",
                    "name": "Microsoft Outlook Account"
                }
            }
        },
        {
            "parameters": {
                "tableId": "contactos",
                "updateKey": "id",
                "columns": "google_contact_id, outlook_contact_id, sync_status, last_synced_at"
            },
            "name": "Update IDs Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1140,
                140
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "SUPABASE_CREDENTIALS_ID_PLACEHOLDER",
                    "name": "Supabase Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Action": {
            "main": [
                [
                    {
                        "node": "Google Contacts Create",
                        "type": "main",
                        "index": 0
                    }
                ],
                [],
                []
            ]
        },
        "Google Contacts Create": {
            "main": [
                [
                    {
                        "node": "Microsoft Outlook Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Microsoft Outlook Create": {
            "main": [
                [
                    {
                        "node": "Update IDs Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}