n8n/workflow_sync_initial_v6.json
{
    "name": "Sync Inicial v6 - Match por Nombre",
    "nodes": [
        {
            "parameters": {},
            "name": "Ejecutar",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1600,
                400
            ],
            "id": "trigger"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "contactos",
                "returnAll": true
            },
            "name": "1. Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1300,
                400
            ],
            "id": "supabase-get",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "returnAll": true,
                "options": {}
            },
            "name": "2. Google",
            "type": "n8n-nodes-base.googleContacts",
            "typeVersion": 1,
            "position": [
                -1300,
                200
            ],
            "id": "google-get",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "getAll",
                "returnAll": true,
                "options": {}
            },
            "name": "3. Outlook",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                -1300,
                600
            ],
            "id": "outlook-get",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Función para normalizar nombres (quitar espacios extra, minúsculas)\nfunction normalizarNombre(nombre) {\n  if (!nombre) return '';\n  return nombre.toString().toLowerCase().trim().replace(/\\s+/g, ' ');\n}\n\nfunction crearClave(obj, esGoogle = false, esOutlook = false) {\n  let nombre = '';\n  let apellido = '';\n  \n  if (esGoogle) {\n    // Google Contacts structure\n    const names = obj.names || [];\n    if (names.length > 0) {\n      nombre = (names[0].givenName || '') + ' ' + (names[0].middleName || '');\n      apellido = names[0].familyName || '';\n    }\n  } else if (esOutlook) {\n    // Outlook structure\n    nombre = (obj.givenName || '') + ' ' + (obj.middleName || '');\n    apellido = obj.surname || '';\n  } else {\n    // Supabase structure\n    nombre = (obj.primer_nombre || '') + ' ' + (obj.segundo_nombre || '');\n    apellido = obj.apellidos || '';\n  }\n  \n  const clave = normalizarNombre(nombre + ' ' + apellido);\n  return clave;\n}\n\n// Obtener datos de los tres nodos\nconst supabaseItems = $('1. Supabase').all();\nconst googleItems = $('2. Google').all();\nconst outlookItems = $('3. Outlook').all();\n\nconsole.log(`Supabase: ${supabaseItems.length}, Google: ${googleItems.length}, Outlook: ${outlookItems.length}`);\n\n// Crear mapas por nombre completo\nconst googlePorNombre = new Map();\nfor (const g of googleItems) {\n  const clave = crearClave(g.json, true, false);\n  if (clave && clave.length > 2) {\n    googlePorNombre.set(clave, g.json.resourceName);\n  }\n}\n\nconst outlookPorNombre = new Map();\nfor (const o of outlookItems) {\n  const clave = crearClave(o.json, false, true);\n  if (clave && clave.length > 2) {\n    outlookPorNombre.set(clave, o.json.id);\n  }\n}\n\nconsole.log(`Mapa Google: ${googlePorNombre.size}, Mapa Outlook: ${outlookPorNombre.size}`);\n\n// Procesar contactos de Supabase\nconst resultados = [];\nlet matchGoogle = 0;\nlet matchOutlook = 0;\nlet sinMatchGoogle = 0;\nlet sinMatchOutlook = 0;\n\nfor (const s of supabaseItems) {\n  const c = s.json;\n  \n  // Si ya tiene ambos IDs, saltar\n  if (c.google_contact_id && c.outlook_contact_id) {\n    continue;\n  }\n  \n  const clave = crearClave(c);\n  \n  // Buscar match en Google\n  let googleId = c.google_contact_id || null;\n  if (!googleId && clave) {\n    googleId = googlePorNombre.get(clave) || null;\n    if (googleId) matchGoogle++;\n    else sinMatchGoogle++;\n  }\n  \n  // Buscar match en Outlook\n  let outlookId = c.outlook_contact_id || null;\n  if (!outlookId && clave) {\n    outlookId = outlookPorNombre.get(clave) || null;\n    if (outlookId) matchOutlook++;\n    else sinMatchOutlook++;\n  }\n  \n  // Determinar qué necesita crearse\n  const necesitaCrearGoogle = !googleId;\n  const necesitaCrearOutlook = !outlookId;\n  \n  resultados.push({\n    json: {\n      id: c.id,\n      primer_nombre: c.primer_nombre || '',\n      segundo_nombre: c.segundo_nombre || '',\n      apellidos: c.apellidos || '',\n      email: c.email || '',\n      celular: c.celular || '',\n      empresa: c.empresa || '',\n      cargo: c.cargo || '',\n      clave_busqueda: clave,\n      google_contact_id: googleId,\n      outlook_contact_id: outlookId,\n      necesita_crear_google: necesitaCrearGoogle,\n      necesita_crear_outlook: necesitaCrearOutlook\n    }\n  });\n}\n\nconsole.log(`Matches Google: ${matchGoogle}, Sin match: ${sinMatchGoogle}`);\nconsole.log(`Matches Outlook: ${matchOutlook}, Sin match: ${sinMatchOutlook}`);\nconsole.log(`Total pendientes: ${resultados.length}`);\n\nif (resultados.length === 0) {\n  return [{ json: { mensaje: 'Todos los contactos ya están sincronizados' } }];\n}\n\n// Retornar primeros 30 para prueba\nreturn resultados.slice(0, 30);"
            },
            "name": "4. Mapear por Nombre",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -900,
                400
            ],
            "id": "map"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.necesita_crear_google }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "5. Crear Google?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -600,
                400
            ],
            "id": "if-google"
        },
        {
            "parameters": {
                "familyName": "={{ $json.apellidos }}",
                "givenName": "={{ $json.primer_nombre }}",
                "additionalFields": {
                    "middleName": "={{ $json.segundo_nombre }}",
                    "emailUi": {
                        "emailValues": [
                            {
                                "value": "={{ $json.email }}"
                            }
                        ]
                    },
                    "phoneUi": {
                        "phoneValues": [
                            {
                                "value": "={{ $json.celular }}"
                            }
                        ]
                    }
                }
            },
            "name": "6a. Crear Google",
            "type": "n8n-nodes-base.googleContacts",
            "typeVersion": 1,
            "position": [
                -300,
                300
            ],
            "id": "google-create",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const created = $input.first().json;\nconst original = $('5. Crear Google?').first().json;\nreturn [{ json: { ...original, google_contact_id: created.resourceName } }];"
            },
            "name": "6b. Set Google ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                300
            ],
            "id": "set-google"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "6c. Ya tiene Google",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                500
            ],
            "id": "has-google"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.necesita_crear_outlook }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "7. Crear Outlook?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                300,
                400
            ],
            "id": "if-outlook"
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "create",
                "givenName": "={{ $json.primer_nombre }}",
                "surname": "={{ $json.apellidos }}",
                "additionalFields": {
                    "businessPhones": "={{ $json.celular }}",
                    "companyName": "={{ $json.empresa }}",
                    "emailAddresses": {
                        "values": [
                            {
                                "address": "={{ $json.email }}",
                                "name": "={{ $json.primer_nombre }} {{ $json.apellidos }}"
                            }
                        ]
                    },
                    "jobTitle": "={{ $json.cargo }}"
                }
            },
            "name": "8a. Crear Outlook",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                600,
                300
            ],
            "id": "outlook-create",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const created = $input.first().json;\nconst original = $('7. Crear Outlook?').first().json;\nreturn [{ json: { ...original, outlook_contact_id: created.id } }];"
            },
            "name": "8b. Set Outlook ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ],
            "id": "set-outlook"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "8c. Ya tiene Outlook",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                500
            ],
            "id": "has-outlook"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "contactos",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "google_contact_id",
                            "fieldValue": "={{ $json.google_contact_id }}"
                        },
                        {
                            "fieldName": "outlook_contact_id",
                            "fieldValue": "={{ $json.outlook_contact_id }}"
                        },
                        {
                            "fieldName": "sync_status",
                            "fieldValue": "synced"
                        },
                        {
                            "fieldName": "last_synced_at",
                            "fieldValue": "={{ $now.toISO() }}"
                        }
                    ]
                }
            },
            "name": "9. Guardar",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1200,
                400
            ],
            "id": "save",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "Ejecutar": {
            "main": [
                [
                    {
                        "node": "1. Supabase",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "2. Google",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "3. Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Supabase": {
            "main": [
                [
                    {
                        "node": "4. Mapear por Nombre",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Google": {
            "main": [
                [
                    {
                        "node": "4. Mapear por Nombre",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Outlook": {
            "main": [
                [
                    {
                        "node": "4. Mapear por Nombre",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Mapear por Nombre": {
            "main": [
                [
                    {
                        "node": "5. Crear Google?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. Crear Google?": {
            "main": [
                [
                    {
                        "node": "6a. Crear Google",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "6c. Ya tiene Google",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6a. Crear Google": {
            "main": [
                [
                    {
                        "node": "6b. Set Google ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6b. Set Google ID": {
            "main": [
                [
                    {
                        "node": "7. Crear Outlook?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6c. Ya tiene Google": {
            "main": [
                [
                    {
                        "node": "7. Crear Outlook?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. Crear Outlook?": {
            "main": [
                [
                    {
                        "node": "8a. Crear Outlook",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "8c. Ya tiene Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8a. Crear Outlook": {
            "main": [
                [
                    {
                        "node": "8b. Set Outlook ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8b. Set Outlook ID": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8c. Ya tiene Outlook": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    }
}