n8n/workflow_sync_initial_v7.json
{
    "name": "Sync Inicial v7 - Corregido",
    "nodes": [
        {
            "parameters": {},
            "name": "Ejecutar",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1600,
                400
            ],
            "id": "trigger"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "contactos",
                "returnAll": true
            },
            "name": "1. Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1300,
                400
            ],
            "id": "supabase-get",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "returnAll": true,
                "options": {
                    "rawData": false
                }
            },
            "name": "2. Google",
            "type": "n8n-nodes-base.googleContacts",
            "typeVersion": 1,
            "position": [
                -1300,
                200
            ],
            "id": "google-get",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "getAll",
                "returnAll": true,
                "filters": {}
            },
            "name": "3. Outlook",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                -1300,
                600
            ],
            "id": "outlook-get",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Función para normalizar nombres\nfunction normalizarNombre(nombre) {\n  if (!nombre) return '';\n  return nombre.toString().toLowerCase().trim().replace(/\\s+/g, ' ');\n}\n\nfunction crearClave(obj, esGoogle = false, esOutlook = false) {\n  let nombre = '';\n  let apellido = '';\n  \n  if (esGoogle) {\n    const names = obj.names || [];\n    if (names.length > 0) {\n      nombre = (names[0].givenName || '') + ' ' + (names[0].middleName || '');\n      apellido = names[0].familyName || '';\n    }\n  } else if (esOutlook) {\n    nombre = (obj.givenName || '') + ' ' + (obj.middleName || '');\n    apellido = obj.surname || '';\n  } else {\n    nombre = (obj.primer_nombre || '') + ' ' + (obj.segundo_nombre || '');\n    apellido = obj.apellidos || '';\n  }\n  \n  return normalizarNombre(nombre + ' ' + apellido);\n}\n\n// Obtener datos\nconst supabaseItems = $('1. Supabase').all();\nlet googleItems = [];\nlet outlookItems = [];\n\ntry {\n  googleItems = $('2. Google').all();\n} catch(e) {\n  console.log('Error obteniendo Google:', e.message);\n}\n\ntry {\n  outlookItems = $('3. Outlook').all();\n} catch(e) {\n  console.log('Error obteniendo Outlook:', e.message);\n}\n\nconsole.log(`Supabase: ${supabaseItems.length}, Google: ${googleItems.length}, Outlook: ${outlookItems.length}`);\n\n// Mapas por nombre\nconst googlePorNombre = new Map();\nfor (const g of googleItems) {\n  const clave = crearClave(g.json, true, false);\n  if (clave && clave.length > 2) {\n    googlePorNombre.set(clave, g.json.resourceName);\n  }\n}\n\nconst outlookPorNombre = new Map();\nfor (const o of outlookItems) {\n  const clave = crearClave(o.json, false, true);\n  if (clave && clave.length > 2) {\n    outlookPorNombre.set(clave, o.json.id);\n  }\n}\n\nconsole.log(`Mapa Google: ${googlePorNombre.size}, Mapa Outlook: ${outlookPorNombre.size}`);\n\n// Procesar\nconst resultados = [];\nlet matchG = 0, matchO = 0, noMatchG = 0, noMatchO = 0;\n\nfor (const s of supabaseItems) {\n  const c = s.json;\n  \n  if (c.google_contact_id && c.outlook_contact_id) continue;\n  \n  const clave = crearClave(c);\n  \n  let gId = c.google_contact_id || null;\n  if (!gId && clave) {\n    gId = googlePorNombre.get(clave) || null;\n    if (gId) matchG++; else noMatchG++;\n  }\n  \n  let oId = c.outlook_contact_id || null;\n  if (!oId && clave) {\n    oId = outlookPorNombre.get(clave) || null;\n    if (oId) matchO++; else noMatchO++;\n  }\n  \n  resultados.push({\n    json: {\n      id: c.id,\n      primer_nombre: c.primer_nombre || '',\n      segundo_nombre: c.segundo_nombre || '',\n      apellidos: c.apellidos || '',\n      email: c.email || '',\n      celular: c.celular || '',\n      empresa: c.empresa || '',\n      cargo: c.cargo || '',\n      google_contact_id: gId,\n      outlook_contact_id: oId,\n      necesita_crear_google: !gId,\n      necesita_crear_outlook: !oId\n    }\n  });\n}\n\nconsole.log(`Match Google: ${matchG}, NoMatch: ${noMatchG}`);\nconsole.log(`Match Outlook: ${matchO}, NoMatch: ${noMatchO}`);\nconsole.log(`Pendientes: ${resultados.length}`);\n\nif (resultados.length === 0) {\n  return [{ json: { mensaje: 'Todos sincronizados', matchG, matchO } }];\n}\n\nreturn resultados.slice(0, 30);"
            },
            "name": "4. Mapear",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -900,
                400
            ],
            "id": "map"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.necesita_crear_google }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "5. IF Google",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -600,
                400
            ],
            "id": "if-google"
        },
        {
            "parameters": {
                "familyName": "={{ $json.apellidos }}",
                "givenName": "={{ $json.primer_nombre }}",
                "additionalFields": {
                    "middleName": "={{ $json.segundo_nombre }}",
                    "emailUi": {
                        "emailValues": [
                            {
                                "value": "={{ $json.email }}"
                            }
                        ]
                    },
                    "phoneUi": {
                        "phoneValues": [
                            {
                                "value": "={{ $json.celular }}"
                            }
                        ]
                    }
                }
            },
            "name": "6a. Crear Google",
            "type": "n8n-nodes-base.googleContacts",
            "typeVersion": 1,
            "position": [
                -300,
                300
            ],
            "id": "google-create",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const c = $input.first().json;\nconst o = $('5. IF Google').first().json;\nreturn [{ json: { ...o, google_contact_id: c.resourceName } }];"
            },
            "name": "6b. SetG",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                300
            ],
            "id": "set-google"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "6c. SkipG",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                500
            ],
            "id": "skip-google"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.necesita_crear_outlook }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "7. IF Outlook",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                300,
                400
            ],
            "id": "if-outlook"
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "create",
                "givenName": "={{ $json.primer_nombre }}",
                "surname": "={{ $json.apellidos }}",
                "additionalFields": {
                    "businessPhones": "={{ $json.celular }}",
                    "companyName": "={{ $json.empresa }}",
                    "emailAddresses": {
                        "values": [
                            {
                                "address": "={{ $json.email }}",
                                "name": "={{ $json.primer_nombre }} {{ $json.apellidos }}"
                            }
                        ]
                    },
                    "jobTitle": "={{ $json.cargo }}"
                }
            },
            "name": "8a. Crear Outlook",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                600,
                300
            ],
            "id": "outlook-create",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const c = $input.first().json;\nconst o = $('7. IF Outlook').first().json;\nreturn [{ json: { ...o, outlook_contact_id: c.id } }];"
            },
            "name": "8b. SetO",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ],
            "id": "set-outlook"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "8c. SkipO",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                500
            ],
            "id": "skip-outlook"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "contactos",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "google_contact_id",
                            "fieldValue": "={{ $json.google_contact_id }}"
                        },
                        {
                            "fieldName": "outlook_contact_id",
                            "fieldValue": "={{ $json.outlook_contact_id }}"
                        },
                        {
                            "fieldName": "sync_status",
                            "fieldValue": "synced"
                        },
                        {
                            "fieldName": "last_synced_at",
                            "fieldValue": "={{ $now.toISO() }}"
                        }
                    ]
                }
            },
            "name": "9. Guardar",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1200,
                400
            ],
            "id": "save",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "Ejecutar": {
            "main": [
                [
                    {
                        "node": "1. Supabase",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "2. Google",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "3. Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Supabase": {
            "main": [
                [
                    {
                        "node": "4. Mapear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Google": {
            "main": [
                [
                    {
                        "node": "4. Mapear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Outlook": {
            "main": [
                [
                    {
                        "node": "4. Mapear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Mapear": {
            "main": [
                [
                    {
                        "node": "5. IF Google",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. IF Google": {
            "main": [
                [
                    {
                        "node": "6a. Crear Google",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "6c. SkipG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6a. Crear Google": {
            "main": [
                [
                    {
                        "node": "6b. SetG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6b. SetG": {
            "main": [
                [
                    {
                        "node": "7. IF Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6c. SkipG": {
            "main": [
                [
                    {
                        "node": "7. IF Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. IF Outlook": {
            "main": [
                [
                    {
                        "node": "8a. Crear Outlook",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "8c. SkipO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8a. Crear Outlook": {
            "main": [
                [
                    {
                        "node": "8b. SetO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8b. SetO": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8c. SkipO": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    }
}