n8n/workflow_sync_initial_v14.json
{
    "name": "Sync Inicial v14 - Sin Creds HTTP",
    "nodes": [
        {
            "parameters": {},
            "name": "Ejecutar",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -2100,
                400
            ],
            "id": "trigger"
        },
        {
            "parameters": {
                "url": "https://people.googleapis.com/v1/people/me/connections",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "personFields",
                            "value": "names,emailAddresses,phoneNumbers"
                        },
                        {
                            "name": "pageSize",
                            "value": "1000"
                        }
                    ]
                },
                "options": {}
            },
            "name": "1. Google",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -1800,
                400
            ],
            "id": "google",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "getAll",
                "returnAll": true,
                "filters": {}
            },
            "name": "2. Outlook",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                -1500,
                400
            ],
            "id": "outlook",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst contacts = items.map(i => i.json);\nreturn [{ json: { outlookContacts: contacts, count: contacts.length } }];"
            },
            "name": "2b. Agregar",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1200,
                400
            ],
            "id": "agg"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "contactos",
                "returnAll": true
            },
            "name": "3. Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -900,
                400
            ],
            "id": "supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const googleResp = $('1. Google').first().json;\nconst outlookData = $('2b. Agregar').first().json;\nconst supabaseItems = $input.all();\n\nconst gContacts = googleResp.connections || [];\nconst oContacts = outlookData.outlookContacts || [];\nconst sContacts = supabaseItems.map(i => i.json);\n\nconsole.log(`G: ${gContacts.length}, O: ${oContacts.length}, S: ${sContacts.length}`);\n\nfunction norm(s) {\n  if (!s) return '';\n  return s.toString().toLowerCase().trim().replace(/\\s+/g, ' ');\n}\n\nconst gMap = new Map();\nfor (const g of gContacts) {\n  const names = g.names || [];\n  if (names.length > 0) {\n    const n = names[0];\n    const k = norm((n.givenName||'') + ' ' + (n.middleName||'') + ' ' + (n.familyName||''));\n    if (k.length > 2) gMap.set(k, g.resourceName);\n  }\n}\n\nconst oMap = new Map();\nfor (const o of oContacts) {\n  const k = norm((o.givenName||'') + ' ' + (o.middleName||'') + ' ' + (o.surname||''));\n  if (k.length > 2) oMap.set(k, o.id);\n}\n\nconsole.log(`MapG: ${gMap.size}, MapO: ${oMap.size}`);\n\nconst result = [];\nlet mG = 0, mO = 0;\n\nfor (const c of sContacts) {\n  if (c.google_contact_id && c.outlook_contact_id) continue;\n  \n  const k = norm((c.primer_nombre||'') + ' ' + (c.segundo_nombre||'') + ' ' + (c.apellidos||''));\n  \n  let gId = c.google_contact_id || gMap.get(k) || null;\n  let oId = c.outlook_contact_id || oMap.get(k) || null;\n  \n  if (gId && !c.google_contact_id) mG++;\n  if (oId && !c.outlook_contact_id) mO++;\n  \n  result.push({\n    json: {\n      id: c.id,\n      primer_nombre: c.primer_nombre || '',\n      segundo_nombre: c.segundo_nombre || '',\n      apellidos: c.apellidos || '',\n      email: c.email || '',\n      celular: c.celular || '',\n      empresa: c.empresa || '',\n      cargo: c.cargo || '',\n      google_contact_id: gId,\n      outlook_contact_id: oId,\n      crear_g: !gId,\n      crear_o: !oId\n    }\n  });\n}\n\nconsole.log(`Match G: ${mG}, O: ${mO}, Pend: ${result.length}`);\n\nif (result.length === 0) {\n  return [{ json: { msg: 'Todo sincronizado', mG, mO } }];\n}\n\nreturn result.slice(0, 10);"
            },
            "name": "4. Mapear",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -600,
                400
            ],
            "id": "map"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.crear_g }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "5. IF G",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -300,
                400
            ],
            "id": "if-g"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://people.googleapis.com/v1/people:createContact",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"names\": [{\"givenName\": \"{{ $json.primer_nombre }}\", \"middleName\": \"{{ $json.segundo_nombre }}\", \"familyName\": \"{{ $json.apellidos }}\"}],\n  \"emailAddresses\": [{\"value\": \"{{ $json.email }}\"}],\n  \"phoneNumbers\": [{\"value\": \"{{ $json.celular }}\"}]\n}",
                "options": {}
            },
            "name": "6a. Crear G",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                0,
                300
            ],
            "id": "create-g",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const c = $input.first().json;\nconst o = $('5. IF G').first().json;\nreturn [{ json: { ...o, google_contact_id: c.resourceName } }];"
            },
            "name": "6b. SetG",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                300,
                300
            ],
            "id": "set-g"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "6c. SkipG",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                300,
                500
            ],
            "id": "skip-g"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.crear_o }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "7. IF O",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                400
            ],
            "id": "if-o"
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "create",
                "givenName": "={{ $json.primer_nombre }}",
                "surname": "={{ $json.apellidos }}",
                "additionalFields": {
                    "businessPhones": "={{ $json.celular }}",
                    "companyName": "={{ $json.empresa }}",
                    "emailAddresses": {
                        "values": [
                            {
                                "address": "={{ $json.email }}",
                                "name": "={{ $json.primer_nombre }} {{ $json.apellidos }}"
                            }
                        ]
                    },
                    "jobTitle": "={{ $json.cargo }}"
                }
            },
            "name": "8a. Crear O",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                900,
                300
            ],
            "id": "create-o",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const c = $input.first().json;\nconst o = $('7. IF O').first().json;\nreturn [{ json: { ...o, outlook_contact_id: c.id } }];"
            },
            "name": "8b. SetO",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                300
            ],
            "id": "set-o"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "8c. SkipO",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                500
            ],
            "id": "skip-o"
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://jexikwkdskapybyzaejb.supabase.co/rest/v1/contactos?id=eq.{{ $json.id }}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpleGlrd2tkc2thcHlieXphZWpiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNjI3NjIyNSwiZXhwIjoyMDUxODUyMjI1fQ.C4mVDXmxpaItlMzDRRvnMRsWsEgX3quM4uc_RlKHyuw"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpleGlrd2tkc2thcHlieXphZWpiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNjI3NjIyNSwiZXhwIjoyMDUxODUyMjI1fQ.C4mVDXmxpaItlMzDRRvnMRsWsEgX3quM4uc_RlKHyuw"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=minimal"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"google_contact_id\": {{ $json.google_contact_id ? '\"' + $json.google_contact_id + '\"' : 'null' }},\n  \"outlook_contact_id\": {{ $json.outlook_contact_id ? '\"' + $json.outlook_contact_id + '\"' : 'null' }},\n  \"sync_status\": \"synced\",\n  \"last_synced_at\": \"{{ $now.toISO() }}\"\n}",
                "options": {}
            },
            "name": "9. Guardar",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1500,
                400
            ],
            "id": "save"
        }
    ],
    "connections": {
        "Ejecutar": {
            "main": [
                [
                    {
                        "node": "1. Google",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Google": {
            "main": [
                [
                    {
                        "node": "2. Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Outlook": {
            "main": [
                [
                    {
                        "node": "2b. Agregar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2b. Agregar": {
            "main": [
                [
                    {
                        "node": "3. Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Supabase": {
            "main": [
                [
                    {
                        "node": "4. Mapear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Mapear": {
            "main": [
                [
                    {
                        "node": "5. IF G",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. IF G": {
            "main": [
                [
                    {
                        "node": "6a. Crear G",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "6c. SkipG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6a. Crear G": {
            "main": [
                [
                    {
                        "node": "6b. SetG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6b. SetG": {
            "main": [
                [
                    {
                        "node": "7. IF O",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6c. SkipG": {
            "main": [
                [
                    {
                        "node": "7. IF O",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. IF O": {
            "main": [
                [
                    {
                        "node": "8a. Crear O",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "8c. SkipO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8a. Crear O": {
            "main": [
                [
                    {
                        "node": "8b. SetO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8b. SetO": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8c. SkipO": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    }
}