n8n/workflow_sync_initial_v9.json
{
    "name": "Sync Inicial v9 - Secuencial",
    "nodes": [
        {
            "parameters": {},
            "name": "Ejecutar",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1800,
                400
            ],
            "id": "trigger"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "contactos",
                "returnAll": true
            },
            "name": "1. Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1500,
                400
            ],
            "id": "supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Guardar contactos de Supabase en variable global\nconst items = $input.all();\nglobalThis.supabaseContacts = items.map(i => i.json);\nconsole.log(`Supabase: ${globalThis.supabaseContacts.length} contactos`);\nreturn [{ json: { ok: true, count: items.length } }];"
            },
            "name": "1b. Store",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1200,
                400
            ],
            "id": "store-sup"
        },
        {
            "parameters": {
                "url": "https://people.googleapis.com/v1/people/me/connections",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "personFields",
                            "value": "names,emailAddresses,phoneNumbers"
                        },
                        {
                            "name": "pageSize",
                            "value": "1000"
                        }
                    ]
                },
                "options": {}
            },
            "name": "2. Google",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -900,
                400
            ],
            "id": "google",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Guardar contactos de Google\nconst resp = $input.first().json;\nglobalThis.googleContacts = resp.connections || [];\nconsole.log(`Google: ${globalThis.googleContacts.length} contactos`);\nreturn [{ json: { ok: true, count: globalThis.googleContacts.length } }];"
            },
            "name": "2b. Store",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -600,
                400
            ],
            "id": "store-g"
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "getAll",
                "returnAll": true,
                "filters": {}
            },
            "name": "3. Outlook",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                -300,
                400
            ],
            "id": "outlook",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Guardar contactos de Outlook y procesar todo\nconst outlookItems = $input.all();\nglobalThis.outlookContacts = outlookItems.map(i => i.json);\nconsole.log(`Outlook: ${globalThis.outlookContacts.length} contactos`);\n\n// Función normalizar\nfunction norm(s) {\n  if (!s) return '';\n  return s.toString().toLowerCase().trim().replace(/\\s+/g, ' ');\n}\n\n// Mapas por nombre\nconst gMap = new Map();\nfor (const g of globalThis.googleContacts) {\n  const names = g.names || [];\n  if (names.length > 0) {\n    const n = names[0];\n    const k = norm((n.givenName||'') + ' ' + (n.middleName||'') + ' ' + (n.familyName||''));\n    if (k.length > 2) gMap.set(k, g.resourceName);\n  }\n}\n\nconst oMap = new Map();\nfor (const o of globalThis.outlookContacts) {\n  const k = norm((o.givenName||'') + ' ' + (o.middleName||'') + ' ' + (o.surname||''));\n  if (k.length > 2) oMap.set(k, o.id);\n}\n\nconsole.log(`Mapa G: ${gMap.size}, Mapa O: ${oMap.size}`);\n\n// Procesar\nconst result = [];\nlet mG = 0, mO = 0;\n\nfor (const c of globalThis.supabaseContacts) {\n  if (c.google_contact_id && c.outlook_contact_id) continue;\n  \n  const k = norm((c.primer_nombre||'') + ' ' + (c.segundo_nombre||'') + ' ' + (c.apellidos||''));\n  \n  let gId = c.google_contact_id || gMap.get(k) || null;\n  let oId = c.outlook_contact_id || oMap.get(k) || null;\n  \n  if (gId && !c.google_contact_id) mG++;\n  if (oId && !c.outlook_contact_id) mO++;\n  \n  result.push({\n    json: {\n      id: c.id,\n      primer_nombre: c.primer_nombre || '',\n      segundo_nombre: c.segundo_nombre || '',\n      apellidos: c.apellidos || '',\n      email: c.email || '',\n      celular: c.celular || '',\n      empresa: c.empresa || '',\n      cargo: c.cargo || '',\n      google_contact_id: gId,\n      outlook_contact_id: oId,\n      crear_g: !gId,\n      crear_o: !oId\n    }\n  });\n}\n\nconsole.log(`Matches G: ${mG}, O: ${mO}, Pendientes: ${result.length}`);\n\nif (result.length === 0) {\n  return [{ json: { msg: 'Todo sincronizado', mG, mO } }];\n}\n\nreturn result.slice(0, 20);"
            },
            "name": "4. Mapear",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                400
            ],
            "id": "map"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.crear_g }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "5. IF G",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                300,
                400
            ],
            "id": "if-g"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://people.googleapis.com/v1/people:createContact",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"names\": [{\"givenName\": \"{{ $json.primer_nombre }}\", \"middleName\": \"{{ $json.segundo_nombre }}\", \"familyName\": \"{{ $json.apellidos }}\"}],\n  \"emailAddresses\": [{\"value\": \"{{ $json.email }}\"}],\n  \"phoneNumbers\": [{\"value\": \"{{ $json.celular }}\"}]\n}",
                "options": {}
            },
            "name": "6a. Crear G",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                600,
                300
            ],
            "id": "create-g",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const c = $input.first().json;\nconst o = $('5. IF G').first().json;\nreturn [{ json: { ...o, google_contact_id: c.resourceName } }];"
            },
            "name": "6b. SetG",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ],
            "id": "set-g"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "6c. SkipG",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                500
            ],
            "id": "skip-g"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.crear_o }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "7. IF O",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1200,
                400
            ],
            "id": "if-o"
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "create",
                "givenName": "={{ $json.primer_nombre }}",
                "surname": "={{ $json.apellidos }}",
                "additionalFields": {
                    "businessPhones": "={{ $json.celular }}",
                    "companyName": "={{ $json.empresa }}",
                    "emailAddresses": {
                        "values": [
                            {
                                "address": "={{ $json.email }}",
                                "name": "={{ $json.primer_nombre }} {{ $json.apellidos }}"
                            }
                        ]
                    },
                    "jobTitle": "={{ $json.cargo }}"
                }
            },
            "name": "8a. Crear O",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1500,
                300
            ],
            "id": "create-o",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const c = $input.first().json;\nconst o = $('7. IF O').first().json;\nreturn [{ json: { ...o, outlook_contact_id: c.id } }];"
            },
            "name": "8b. SetO",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1800,
                300
            ],
            "id": "set-o"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "8c. SkipO",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1800,
                500
            ],
            "id": "skip-o"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "contactos",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "google_contact_id",
                            "fieldValue": "={{ $json.google_contact_id }}"
                        },
                        {
                            "fieldName": "outlook_contact_id",
                            "fieldValue": "={{ $json.outlook_contact_id }}"
                        },
                        {
                            "fieldName": "sync_status",
                            "fieldValue": "synced"
                        },
                        {
                            "fieldName": "last_synced_at",
                            "fieldValue": "={{ $now.toISO() }}"
                        }
                    ]
                }
            },
            "name": "9. Guardar",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2100,
                400
            ],
            "id": "save",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "Ejecutar": {
            "main": [
                [
                    {
                        "node": "1. Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Supabase": {
            "main": [
                [
                    {
                        "node": "1b. Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1b. Store": {
            "main": [
                [
                    {
                        "node": "2. Google",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Google": {
            "main": [
                [
                    {
                        "node": "2b. Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2b. Store": {
            "main": [
                [
                    {
                        "node": "3. Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Outlook": {
            "main": [
                [
                    {
                        "node": "4. Mapear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Mapear": {
            "main": [
                [
                    {
                        "node": "5. IF G",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. IF G": {
            "main": [
                [
                    {
                        "node": "6a. Crear G",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "6c. SkipG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6a. Crear G": {
            "main": [
                [
                    {
                        "node": "6b. SetG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6b. SetG": {
            "main": [
                [
                    {
                        "node": "7. IF O",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6c. SkipG": {
            "main": [
                [
                    {
                        "node": "7. IF O",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. IF O": {
            "main": [
                [
                    {
                        "node": "8a. Crear O",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "8c. SkipO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8a. Crear O": {
            "main": [
                [
                    {
                        "node": "8b. SetO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8b. SetO": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8c. SkipO": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    }
}