n8n/workflow_sync_initial_v2.json
{
    "name": "Sync Inicial - Match por Email v2",
    "nodes": [
        {
            "parameters": {},
            "name": "When clicking 'Execute workflow'",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1800,
                300
            ],
            "id": "trigger-manual"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {}
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -1800,
                500
            ],
            "id": "trigger-schedule"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "contactos",
                "returnAll": true,
                "filterType": "string",
                "filterString": "or(google_contact_id.is.null,outlook_contact_id.is.null)"
            },
            "name": "Supabase - Contactos Sin IDs",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1500,
                400
            ],
            "id": "supabase-get",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Loop Contactos",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -1200,
                400
            ],
            "id": "loop"
        },
        {
            "parameters": {
                "jsCode": "// Preparar datos del contacto actual\nconst contacto = $input.first().json;\n\n// Inicializar IDs si no existen\nreturn [{\n  json: {\n    ...contacto,\n    google_contact_id: contacto.google_contact_id || null,\n    outlook_contact_id: contacto.outlook_contact_id || null\n  }\n}];"
            },
            "name": "Preparar Contacto",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -900,
                400
            ],
            "id": "prepare"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-google",
                            "leftValue": "={{ $json.google_contact_id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "empty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "name": "Necesita Google?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -600,
                400
            ],
            "id": "if-need-google"
        },
        {
            "parameters": {
                "familyName": "={{ $json.apellidos }}",
                "givenName": "={{ $json.primer_nombre }}",
                "additionalFields": {
                    "middleName": "={{ $json.segundo_nombre }}",
                    "emailUi": {
                        "emailValues": [
                            {
                                "value": "={{ $json.email }}"
                            }
                        ]
                    },
                    "phoneUi": {
                        "phoneValues": [
                            {
                                "value": "={{ $json.celular }}"
                            }
                        ]
                    },
                    "organizationUi": {
                        "organizationValues": [
                            {
                                "current": true,
                                "name": "={{ $json.empresa }}",
                                "title": "={{ $json.cargo }}"
                            }
                        ]
                    }
                }
            },
            "name": "Google - Crear",
            "type": "n8n-nodes-base.googleContacts",
            "typeVersion": 1,
            "position": [
                -300,
                300
            ],
            "id": "google-create",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Guardar el ID de Google del contacto creado\nconst nuevoContacto = $input.first().json;\nconst contactoOriginal = $('Preparar Contacto').first().json;\n\nreturn [{\n  json: {\n    ...contactoOriginal,\n    google_contact_id: nuevoContacto.resourceName\n  }\n}];"
            },
            "name": "Guardar Google ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                300
            ],
            "id": "save-google-id"
        },
        {
            "parameters": {
                "jsCode": "// Pasar contacto sin cambios (ya tiene Google ID o no lo necesita)\nreturn $input.all();"
            },
            "name": "Skip Google",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                500
            ],
            "id": "skip-google"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-outlook",
                            "leftValue": "={{ $json.outlook_contact_id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "empty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "name": "Necesita Outlook?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                300,
                400
            ],
            "id": "if-need-outlook"
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "create",
                "givenName": "={{ $json.primer_nombre }}",
                "surname": "={{ $json.apellidos }}",
                "additionalFields": {
                    "businessPhones": "={{ $json.celular }}",
                    "companyName": "={{ $json.empresa }}",
                    "emailAddresses": {
                        "values": [
                            {
                                "address": "={{ $json.email }}",
                                "name": "={{ $json.primer_nombre }} {{ $json.apellidos }}"
                            }
                        ]
                    },
                    "jobTitle": "={{ $json.cargo }}"
                }
            },
            "name": "Outlook - Crear",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                600,
                300
            ],
            "id": "outlook-create",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Guardar el ID de Outlook del contacto creado\nconst nuevoContacto = $input.first().json;\nconst contactoAnterior = $('Necesita Outlook?').first().json;\n\nreturn [{\n  json: {\n    ...contactoAnterior,\n    outlook_contact_id: nuevoContacto.id\n  }\n}];"
            },
            "name": "Guardar Outlook ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ],
            "id": "save-outlook-id"
        },
        {
            "parameters": {
                "jsCode": "// Pasar contacto sin cambios (ya tiene Outlook ID o no lo necesita)\nreturn $input.all();"
            },
            "name": "Skip Outlook",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                500
            ],
            "id": "skip-outlook"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "contactos",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "google_contact_id",
                            "fieldValue": "={{ $json.google_contact_id }}"
                        },
                        {
                            "fieldName": "outlook_contact_id",
                            "fieldValue": "={{ $json.outlook_contact_id }}"
                        },
                        {
                            "fieldName": "sync_status",
                            "fieldValue": "synced"
                        },
                        {
                            "fieldName": "last_synced_at",
                            "fieldValue": "={{ $now.toISO() }}"
                        }
                    ]
                }
            },
            "name": "Supabase - Actualizar",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1200,
                400
            ],
            "id": "supabase-update",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "When clicking 'Execute workflow'": {
            "main": [
                [
                    {
                        "node": "Supabase - Contactos Sin IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Supabase - Contactos Sin IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase - Contactos Sin IDs": {
            "main": [
                [
                    {
                        "node": "Loop Contactos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Contactos": {
            "main": [
                [
                    {
                        "node": "Preparar Contacto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Contacto": {
            "main": [
                [
                    {
                        "node": "Necesita Google?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Necesita Google?": {
            "main": [
                [
                    {
                        "node": "Google - Crear",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Skip Google",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google - Crear": {
            "main": [
                [
                    {
                        "node": "Guardar Google ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guardar Google ID": {
            "main": [
                [
                    {
                        "node": "Necesita Outlook?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Skip Google": {
            "main": [
                [
                    {
                        "node": "Necesita Outlook?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Necesita Outlook?": {
            "main": [
                [
                    {
                        "node": "Outlook - Crear",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Skip Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Outlook - Crear": {
            "main": [
                [
                    {
                        "node": "Guardar Outlook ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guardar Outlook ID": {
            "main": [
                [
                    {
                        "node": "Supabase - Actualizar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Skip Outlook": {
            "main": [
                [
                    {
                        "node": "Supabase - Actualizar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase - Actualizar": {
            "main": [
                [
                    {
                        "node": "Loop Contactos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    }
}