n8n/workflow_sync_initial_v8.json
{
    "name": "Sync Inicial v8 - HTTP Request",
    "nodes": [
        {
            "parameters": {},
            "name": "Ejecutar",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1800,
                400
            ],
            "id": "trigger"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "contactos",
                "returnAll": true
            },
            "name": "1. Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1500,
                400
            ],
            "id": "supabase-get",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "url": "https://people.googleapis.com/v1/people/me/connections",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "personFields",
                            "value": "names,emailAddresses,phoneNumbers"
                        },
                        {
                            "name": "pageSize",
                            "value": "1000"
                        }
                    ]
                },
                "options": {}
            },
            "name": "2. Google HTTP",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -1500,
                200
            ],
            "id": "google-http",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "getAll",
                "returnAll": true,
                "filters": {}
            },
            "name": "3. Outlook",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                -1500,
                600
            ],
            "id": "outlook-get",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Función para normalizar nombres\nfunction norm(s) {\n  if (!s) return '';\n  return s.toString().toLowerCase().trim().replace(/\\s+/g, ' ');\n}\n\n// Obtener datos\nconst supabaseItems = $('1. Supabase').all();\nconst googleResponse = $('2. Google HTTP').first().json;\nconst googleContacts = googleResponse.connections || [];\nlet outlookItems = [];\ntry { outlookItems = $('3. Outlook').all(); } catch(e) {}\n\nconsole.log(`Supabase: ${supabaseItems.length}, Google: ${googleContacts.length}, Outlook: ${outlookItems.length}`);\n\n// Mapa Google por nombre\nconst googleMap = new Map();\nfor (const g of googleContacts) {\n  const names = g.names || [];\n  if (names.length > 0) {\n    const n = names[0];\n    const clave = norm((n.givenName || '') + ' ' + (n.middleName || '') + ' ' + (n.familyName || ''));\n    if (clave.length > 2) googleMap.set(clave, g.resourceName);\n  }\n}\n\n// Mapa Outlook por nombre\nconst outlookMap = new Map();\nfor (const o of outlookItems) {\n  const c = o.json;\n  const clave = norm((c.givenName || '') + ' ' + (c.middleName || '') + ' ' + (c.surname || ''));\n  if (clave.length > 2) outlookMap.set(clave, c.id);\n}\n\nconsole.log(`Mapa Google: ${googleMap.size}, Mapa Outlook: ${outlookMap.size}`);\n\n// Procesar Supabase\nconst resultados = [];\nlet mG = 0, mO = 0;\n\nfor (const s of supabaseItems) {\n  const c = s.json;\n  if (c.google_contact_id && c.outlook_contact_id) continue;\n  \n  const clave = norm((c.primer_nombre || '') + ' ' + (c.segundo_nombre || '') + ' ' + (c.apellidos || ''));\n  \n  let gId = c.google_contact_id || null;\n  if (!gId && clave) {\n    gId = googleMap.get(clave) || null;\n    if (gId) mG++;\n  }\n  \n  let oId = c.outlook_contact_id || null;\n  if (!oId && clave) {\n    oId = outlookMap.get(clave) || null;\n    if (oId) mO++;\n  }\n  \n  resultados.push({\n    json: {\n      id: c.id,\n      primer_nombre: c.primer_nombre || '',\n      segundo_nombre: c.segundo_nombre || '',\n      apellidos: c.apellidos || '',\n      email: c.email || '',\n      celular: c.celular || '',\n      empresa: c.empresa || '',\n      cargo: c.cargo || '',\n      google_contact_id: gId,\n      outlook_contact_id: oId,\n      crear_google: !gId,\n      crear_outlook: !oId\n    }\n  });\n}\n\nconsole.log(`Matches: Google=${mG}, Outlook=${mO}, Pendientes=${resultados.length}`);\n\nif (resultados.length === 0) {\n  return [{ json: { mensaje: 'Todos sincronizados' } }];\n}\n\n// Retornar primeros 20\nreturn resultados.slice(0, 20);"
            },
            "name": "4. Mapear",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1100,
                400
            ],
            "id": "map"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.crear_google }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "5. IF G",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -800,
                400
            ],
            "id": "if-g"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://people.googleapis.com/v1/people:createContact",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleContactsOAuth2Api",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"names\": [{\n    \"givenName\": \"{{ $json.primer_nombre }}\",\n    \"middleName\": \"{{ $json.segundo_nombre }}\",\n    \"familyName\": \"{{ $json.apellidos }}\"\n  }],\n  \"emailAddresses\": [{ \"value\": \"{{ $json.email }}\" }],\n  \"phoneNumbers\": [{ \"value\": \"{{ $json.celular }}\" }]\n}",
                "options": {}
            },
            "name": "6a. Crear G",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -500,
                300
            ],
            "id": "create-g",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const created = $input.first().json;\nconst original = $('5. IF G').first().json;\nreturn [{ json: { ...original, google_contact_id: created.resourceName } }];"
            },
            "name": "6b. SetG",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -200,
                300
            ],
            "id": "set-g"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "6c. SkipG",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -200,
                500
            ],
            "id": "skip-g"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.crear_outlook }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "7. IF O",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                100,
                400
            ],
            "id": "if-o"
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "create",
                "givenName": "={{ $json.primer_nombre }}",
                "surname": "={{ $json.apellidos }}",
                "additionalFields": {
                    "businessPhones": "={{ $json.celular }}",
                    "companyName": "={{ $json.empresa }}",
                    "emailAddresses": {
                        "values": [
                            {
                                "address": "={{ $json.email }}",
                                "name": "={{ $json.primer_nombre }} {{ $json.apellidos }}"
                            }
                        ]
                    },
                    "jobTitle": "={{ $json.cargo }}"
                }
            },
            "name": "8a. Crear O",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                400,
                300
            ],
            "id": "create-o",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const created = $input.first().json;\nconst original = $('7. IF O').first().json;\nreturn [{ json: { ...original, outlook_contact_id: created.id } }];"
            },
            "name": "8b. SetO",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                300
            ],
            "id": "set-o"
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "name": "8c. SkipO",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                500
            ],
            "id": "skip-o"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "contactos",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "google_contact_id",
                            "fieldValue": "={{ $json.google_contact_id }}"
                        },
                        {
                            "fieldName": "outlook_contact_id",
                            "fieldValue": "={{ $json.outlook_contact_id }}"
                        },
                        {
                            "fieldName": "sync_status",
                            "fieldValue": "synced"
                        },
                        {
                            "fieldName": "last_synced_at",
                            "fieldValue": "={{ $now.toISO() }}"
                        }
                    ]
                }
            },
            "name": "9. Guardar",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1000,
                400
            ],
            "id": "save",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "Ejecutar": {
            "main": [
                [
                    {
                        "node": "1. Supabase",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "2. Google HTTP",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "3. Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Supabase": {
            "main": [
                [
                    {
                        "node": "4. Mapear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Google HTTP": {
            "main": [
                [
                    {
                        "node": "4. Mapear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Outlook": {
            "main": [
                [
                    {
                        "node": "4. Mapear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Mapear": {
            "main": [
                [
                    {
                        "node": "5. IF G",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. IF G": {
            "main": [
                [
                    {
                        "node": "6a. Crear G",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "6c. SkipG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6a. Crear G": {
            "main": [
                [
                    {
                        "node": "6b. SetG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6b. SetG": {
            "main": [
                [
                    {
                        "node": "7. IF O",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6c. SkipG": {
            "main": [
                [
                    {
                        "node": "7. IF O",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. IF O": {
            "main": [
                [
                    {
                        "node": "8a. Crear O",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "8c. SkipO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8a. Crear O": {
            "main": [
                [
                    {
                        "node": "8b. SetO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8b. SetO": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8c. SkipO": {
            "main": [
                [
                    {
                        "node": "9. Guardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    }
}