n8n/workflow_sync_initial.json
{
    "name": "Sync Inicial - Match por Email",
    "nodes": [
        {
            "parameters": {},
            "name": "Inicio Manual",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -700,
                300
            ],
            "id": "trigger-manual-001"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "contactos",
                "returnAll": true,
                "filterType": "string",
                "filterString": "google_contact_id.is.null,outlook_contact_id.is.null",
                "options": {}
            },
            "name": "Supabase - Contactos Sin IDs",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -460,
                300
            ],
            "id": "supabase-get-001",
            "credentials": {
                "supabaseApi": {
                    "id": "SUPABASE_CREDENTIALS_ID_PLACEHOLDER",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Procesar Uno por Uno",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -220,
                300
            ],
            "id": "split-batch-001"
        },
        {
            "parameters": {
                "url": "https://people.googleapis.com/v1/people:searchContacts",
                "authentication": "oAuth2",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "query",
                            "value": "={{ $json.email }}"
                        },
                        {
                            "name": "readMask",
                            "value": "names,emailAddresses"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Google - Buscar por Email",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                20,
                160
            ],
            "id": "google-search-001",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "GOOGLE_CREDENTIALS_ID_PLACEHOLDER",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-google-found",
                            "leftValue": "={{ $json.results }}",
                            "rightValue": "",
                            "operator": {
                                "type": "array",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "name": "Google Encontrado?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                260,
                160
            ],
            "id": "if-google-001"
        },
        {
            "parameters": {
                "jsCode": "// Extraer el resourceName del primer resultado\nconst results = $input.first().json.results;\nconst contactoOriginal = $('Procesar Uno por Uno').first().json;\n\nlet googleContactId = null;\nif (results && results.length > 0 && results[0].person) {\n  googleContactId = results[0].person.resourceName;\n}\n\nreturn [{\n  json: {\n    ...contactoOriginal,\n    google_contact_id: googleContactId,\n    google_found: true\n  }\n}];"
            },
            "name": "Extraer Google ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                60
            ],
            "id": "code-extract-google-001"
        },
        {
            "parameters": {
                "familyName": "={{ $('Procesar Uno por Uno').first().json.apellidos }}",
                "givenName": "={{ $('Procesar Uno por Uno').first().json.primer_nombre }}",
                "additionalFields": {
                    "middleName": "={{ $('Procesar Uno por Uno').first().json.segundo_nombre }}",
                    "emailUi": {
                        "emailValues": [
                            {
                                "value": "={{ $('Procesar Uno por Uno').first().json.email }}"
                            }
                        ]
                    },
                    "phoneUi": {
                        "phoneValues": [
                            {
                                "value": "={{ $('Procesar Uno por Uno').first().json.celular }}"
                            }
                        ]
                    },
                    "organizationUi": {
                        "organizationValues": [
                            {
                                "current": true,
                                "name": "={{ $('Procesar Uno por Uno').first().json.empresa }}",
                                "title": "={{ $('Procesar Uno por Uno').first().json.cargo }}"
                            }
                        ]
                    }
                }
            },
            "name": "Google - Crear Contacto",
            "type": "n8n-nodes-base.googleContacts",
            "typeVersion": 1,
            "position": [
                500,
                260
            ],
            "id": "google-create-001",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "GOOGLE_CREDENTIALS_ID_PLACEHOLDER",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Obtener el resourceName del contacto recién creado\nconst nuevoContacto = $input.first().json;\nconst contactoOriginal = $('Procesar Uno por Uno').first().json;\n\nreturn [{\n  json: {\n    ...contactoOriginal,\n    google_contact_id: nuevoContacto.resourceName,\n    google_found: false\n  }\n}];"
            },
            "name": "Guardar Nuevo Google ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                740,
                260
            ],
            "id": "code-new-google-001"
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineAll",
                "options": {}
            },
            "name": "Merge Google Results",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                980,
                160
            ],
            "id": "merge-google-001"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://graph.microsoft.com/v1.0/me/contacts",
                "authentication": "oAuth2",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "$filter",
                            "value": "=emailAddresses/any(e:e/address eq '{{ $json.email }}')"
                        },
                        {
                            "name": "$select",
                            "value": "id,displayName,emailAddresses"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Outlook - Buscar por Email",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1220,
                160
            ],
            "id": "outlook-search-001",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "MICROSOFT_CREDENTIALS_ID_PLACEHOLDER",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-outlook-found",
                            "leftValue": "={{ $json.value }}",
                            "rightValue": "",
                            "operator": {
                                "type": "array",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "name": "Outlook Encontrado?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1460,
                160
            ],
            "id": "if-outlook-001"
        },
        {
            "parameters": {
                "jsCode": "// Extraer el ID del primer resultado de Outlook\nconst results = $input.first().json.value;\nconst datosAnteriores = $('Merge Google Results').first().json;\n\nlet outlookContactId = null;\nif (results && results.length > 0) {\n  outlookContactId = results[0].id;\n}\n\nreturn [{\n  json: {\n    ...datosAnteriores,\n    outlook_contact_id: outlookContactId,\n    outlook_found: true\n  }\n}];"
            },
            "name": "Extraer Outlook ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1700,
                60
            ],
            "id": "code-extract-outlook-001"
        },
        {
            "parameters": {
                "resource": "contact",
                "givenName": "={{ $('Merge Google Results').first().json.primer_nombre }}",
                "surname": "={{ $('Merge Google Results').first().json.apellidos }}",
                "additionalFields": {
                    "businessPhones": "={{ $('Merge Google Results').first().json.celular }}",
                    "companyName": "={{ $('Merge Google Results').first().json.empresa }}",
                    "emailAddresses": {
                        "values": [
                            {
                                "address": "={{ $('Merge Google Results').first().json.email }}",
                                "name": "={{ $('Merge Google Results').first().json.primer_nombre }} {{ $('Merge Google Results').first().json.apellidos }}"
                            }
                        ]
                    },
                    "jobTitle": "={{ $('Merge Google Results').first().json.cargo }}"
                }
            },
            "name": "Outlook - Crear Contacto",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1700,
                260
            ],
            "id": "outlook-create-001",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "MICROSOFT_CREDENTIALS_ID_PLACEHOLDER",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Obtener el ID del contacto recién creado en Outlook\nconst nuevoContacto = $input.first().json;\nconst datosAnteriores = $('Merge Google Results').first().json;\n\nreturn [{\n  json: {\n    ...datosAnteriores,\n    outlook_contact_id: nuevoContacto.id,\n    outlook_found: false\n  }\n}];"
            },
            "name": "Guardar Nuevo Outlook ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1940,
                260
            ],
            "id": "code-new-outlook-001"
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineAll",
                "options": {}
            },
            "name": "Merge Outlook Results",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                2180,
                160
            ],
            "id": "merge-outlook-001"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "contactos",
                "matchColumn": "id",
                "matchValue": "={{ $json.id }}",
                "fieldsToSend": {
                    "fieldValues": [
                        {
                            "fieldName": "google_contact_id",
                            "fieldValue": "={{ $json.google_contact_id }}"
                        },
                        {
                            "fieldName": "outlook_contact_id",
                            "fieldValue": "={{ $json.outlook_contact_id }}"
                        },
                        {
                            "fieldName": "sync_status",
                            "fieldValue": "synced"
                        },
                        {
                            "fieldName": "last_synced_at",
                            "fieldValue": "={{ $now.toISO() }}"
                        }
                    ]
                }
            },
            "name": "Supabase - Guardar IDs",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2420,
                160
            ],
            "id": "supabase-update-001",
            "credentials": {
                "supabaseApi": {
                    "id": "SUPABASE_CREDENTIALS_ID_PLACEHOLDER",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Siguiente Contacto",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                2660,
                160
            ],
            "id": "loop-back-001"
        }
    ],
    "connections": {
        "Inicio Manual": {
            "main": [
                [
                    {
                        "node": "Supabase - Contactos Sin IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase - Contactos Sin IDs": {
            "main": [
                [
                    {
                        "node": "Procesar Uno por Uno",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Procesar Uno por Uno": {
            "main": [
                [
                    {
                        "node": "Google - Buscar por Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Siguiente Contacto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google - Buscar por Email": {
            "main": [
                [
                    {
                        "node": "Google Encontrado?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Encontrado?": {
            "main": [
                [
                    {
                        "node": "Extraer Google ID",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Google - Crear Contacto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extraer Google ID": {
            "main": [
                [
                    {
                        "node": "Merge Google Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google - Crear Contacto": {
            "main": [
                [
                    {
                        "node": "Guardar Nuevo Google ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guardar Nuevo Google ID": {
            "main": [
                [
                    {
                        "node": "Merge Google Results",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Google Results": {
            "main": [
                [
                    {
                        "node": "Outlook - Buscar por Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Outlook - Buscar por Email": {
            "main": [
                [
                    {
                        "node": "Outlook Encontrado?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Outlook Encontrado?": {
            "main": [
                [
                    {
                        "node": "Extraer Outlook ID",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Outlook - Crear Contacto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extraer Outlook ID": {
            "main": [
                [
                    {
                        "node": "Merge Outlook Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Outlook - Crear Contacto": {
            "main": [
                [
                    {
                        "node": "Guardar Nuevo Outlook ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guardar Nuevo Outlook ID": {
            "main": [
                [
                    {
                        "node": "Merge Outlook Results",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Outlook Results": {
            "main": [
                [
                    {
                        "node": "Supabase - Guardar IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase - Guardar IDs": {
            "main": [
                [
                    {
                        "node": "Procesar Uno por Uno",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true
    }
}