n8n/workflow_sync_initial_v4.json
{
    "name": "Sync Inicial v4 - Sin Loop",
    "nodes": [
        {
            "parameters": {},
            "name": "Ejecutar",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1200,
                400
            ],
            "id": "trigger"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "contactos",
                "returnAll": true
            },
            "name": "Obtener Contactos",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -900,
                400
            ],
            "id": "get-contacts",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Procesar TODOS los contactos y crear en Google/Outlook\n// Este código hace todo el trabajo pesado\n\nconst items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const c = item.json;\n  \n  // Solo procesar si le falta algún ID\n  if (!c.google_contact_id || !c.outlook_contact_id) {\n    resultados.push({\n      json: {\n        id: c.id,\n        primer_nombre: c.primer_nombre || '',\n        segundo_nombre: c.segundo_nombre || '',\n        apellidos: c.apellidos || '',\n        email: c.email || '',\n        celular: c.celular || '',\n        empresa: c.empresa || '',\n        cargo: c.cargo || '',\n        google_contact_id: c.google_contact_id || null,\n        outlook_contact_id: c.outlook_contact_id || null,\n        necesita_google: !c.google_contact_id,\n        necesita_outlook: !c.outlook_contact_id\n      }\n    });\n  }\n}\n\nif (resultados.length === 0) {\n  throw new Error('No hay contactos pendientes de sincronizar');\n}\n\n// Limitar a 50 para la primera prueba (evitar timeout)\nreturn resultados.slice(0, 50);"
            },
            "name": "Preparar",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -600,
                400
            ],
            "id": "prepare"
        },
        {
            "parameters": {
                "familyName": "={{ $json.apellidos }}",
                "givenName": "={{ $json.primer_nombre }}",
                "additionalFields": {
                    "middleName": "={{ $json.segundo_nombre }}",
                    "emailUi": {
                        "emailValues": [
                            {
                                "value": "={{ $json.email }}"
                            }
                        ]
                    },
                    "phoneUi": {
                        "phoneValues": [
                            {
                                "value": "={{ $json.celular }}"
                            }
                        ]
                    }
                }
            },
            "name": "Crear en Google",
            "type": "n8n-nodes-base.googleContacts",
            "typeVersion": 1,
            "position": [
                -300,
                400
            ],
            "id": "google",
            "credentials": {
                "googleContactsOAuth2Api": {
                    "id": "uF3bSNDa0djQ8pTu",
                    "name": "Google Contacts account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Combinar datos originales con el ID de Google creado\nconst items = $input.all();\nconst preparados = $('Preparar').all();\n\nconst resultados = [];\nfor (let i = 0; i < items.length; i++) {\n  const googleResult = items[i].json;\n  const original = preparados[i].json;\n  \n  resultados.push({\n    json: {\n      ...original,\n      google_contact_id: googleResult.resourceName || original.google_contact_id\n    }\n  });\n}\n\nreturn resultados;"
            },
            "name": "Merge Google",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                400
            ],
            "id": "merge-google"
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "create",
                "givenName": "={{ $json.primer_nombre }}",
                "surname": "={{ $json.apellidos }}",
                "additionalFields": {
                    "businessPhones": "={{ $json.celular }}",
                    "companyName": "={{ $json.empresa }}",
                    "emailAddresses": {
                        "values": [
                            {
                                "address": "={{ $json.email }}",
                                "name": "={{ $json.primer_nombre }} {{ $json.apellidos }}"
                            }
                        ]
                    },
                    "jobTitle": "={{ $json.cargo }}"
                }
            },
            "name": "Crear en Outlook",
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                300,
                400
            ],
            "id": "outlook",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "PJzHzo2wZUMwYYSj",
                    "name": "Microsoft Outlook account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Combinar con ID de Outlook\nconst items = $input.all();\nconst conGoogle = $('Merge Google').all();\n\nconst resultados = [];\nfor (let i = 0; i < items.length; i++) {\n  const outlookResult = items[i].json;\n  const original = conGoogle[i].json;\n  \n  resultados.push({\n    json: {\n      ...original,\n      outlook_contact_id: outlookResult.id || original.outlook_contact_id\n    }\n  });\n}\n\nreturn resultados;"
            },
            "name": "Merge Outlook",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                400
            ],
            "id": "merge-outlook"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "contactos",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "google_contact_id",
                            "fieldValue": "={{ $json.google_contact_id }}"
                        },
                        {
                            "fieldName": "outlook_contact_id",
                            "fieldValue": "={{ $json.outlook_contact_id }}"
                        },
                        {
                            "fieldName": "sync_status",
                            "fieldValue": "synced"
                        },
                        {
                            "fieldName": "last_synced_at",
                            "fieldValue": "={{ $now.toISO() }}"
                        }
                    ]
                }
            },
            "name": "Guardar IDs",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                900,
                400
            ],
            "id": "save",
            "credentials": {
                "supabaseApi": {
                    "id": "OfStvPP3jSJ53nzk",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "Ejecutar": {
            "main": [
                [
                    {
                        "node": "Obtener Contactos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener Contactos": {
            "main": [
                [
                    {
                        "node": "Preparar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar": {
            "main": [
                [
                    {
                        "node": "Crear en Google",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Crear en Google": {
            "main": [
                [
                    {
                        "node": "Merge Google",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Google": {
            "main": [
                [
                    {
                        "node": "Crear en Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Crear en Outlook": {
            "main": [
                [
                    {
                        "node": "Merge Outlook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Outlook": {
            "main": [
                [
                    {
                        "node": "Guardar IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    }
}